*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    margin-bottom: 2rem;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    max-width: 2000px;
    margin: 0 auto;
}

.left-nav{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    width: 30%;
}

.left-nav img{
    width: 12%;
}

.left-nav p{
    font-size: 1.5rem;
    font-weight: bold;
}

.right-nav{
    width: 70%;
    display: flex;
    justify-content: center;
}

.right-nav ul{
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.right-nav ul li{
    list-style: none;
}

.right-nav ul li a{
    font-size: 1.3rem;
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease-in-out;
}

.right-nav ul li a:hover{
    color: #0000EE;
    text-decoration: underline;
}

.menu-toggle{
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px){

    nav{
        flex-wrap: wrap;
        padding: 1rem;
    }

    .left-nav{
        width: 100%;
        justify-content: space-between;
    }

    .left-nav p{
        font-size: 1rem;
    }

    .menu-toggle{
        display: block;
    }

    .right-nav{
        width: 100%;
        display: none;
    }

    .right-nav.active{
        display: block;
    }

    .right-nav ul{
        width: 100%;
        flex-direction: column;
        align-items: left;
        gap: 1rem;
        margin-top: 1rem;
    }

    .right-nav ul li a{
        font-size: 1.2rem;
    }
}

